<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HMM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>inputconvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>predicthmm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sselog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>trainhmm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>trainhmmOld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71A39CA8179DB04F000F9610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71AF7DF3176F6C3F000C7E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D458821798188E00356EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB32E9F3157FA159002F3FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9B4C261559708F00E21593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD201E415F93481003E97BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
